/*#form {
    border: 2px solid black;
    margin-top: 8%;
}

.header {
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-size: 42pt;
}

h2 {
    font-size: 32pt;
}

.btn-login {
    margin-top: 10px;
}

#spinner {
    display: none;
}*/
