<html>
    <head>
        <meta charset="utf-8">
        <title>RideAhead</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBMQZiWbdZT9xwng3yy56xpUtzBRA19E4&signed_in=true&libraries=places&callback=initMap"
        async defer></script>
        <script type="text/javascript" src="/js/active_script.js"></script>
        <link rel="stylesheet" href="/style/style.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <h1>RideAhead</h1>
        <h2>Schedule Uber Rides.</h2>
        <div class="row">
            <div id="form" class="col-md-4 col-md-offset-4">
                <input type="text" class="form-control" placeholder="Destination">
                <br>

                <div id="map"></div>
                <br>
                <input type="time" class="form-control" placeholder="Text input">
            </div>

        </div>
    </body>
</html>
