<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Privacy Policy for RideAhead</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script type="text/javascript" src="/js/active_script.js"></script>
        <link rel="stylesheet" href="/style/style.css" media="screen" title="no title" charset="utf-8">
        <script type="text/javascript" src="project.js"></script>
    </head>
    <body>
        <h3>Privacy Policy</h3>
        <p>
            This is the privacy policy of RideAdead, an application that lets users
            schedule Uber rides ahead of time. This will provide the readers with information
            about how RideAhead collects and uses data.
        </p>

        <h4>Data Collection</h4>
        <p>
            We may collect personal identification information of the users. All of the personal
            identification information collected would be collected voluntarily. If the users deny
            to provide personal information, they might not be able to use all the functionality
            provided by this website. Any personal identification information provided by our users
            will only be used for the purpose for which they provided the information.
        </p>

        <p>
            This website may use cookies in order to enhance the experince of the users and
            provide a more seamless and less redudant user experience. Users can change their
            web browser's settings to not save cookies. However, doing so might result in
            unavilabilty of some of the functionality of this website.
        </p>

        <h4>Data Sharing</h4>

        <p>
            No data would be sold or shared with third parties, except for purposes that you have
            given us permission for, or as required by law to investigate any misuse of our website.
        </p>
</body>
</html>
